* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  font-weight: 700;
}

body {
  padding: 2.4rem;
}

.container {
  width: 80rem;
  margin: 0 auto;
}

.section {
  display: none;
  height: 70vh;
}

.section--active {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid #000;
  padding: 1.2rem;
}

.year-con {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row-reverse;
}

.year {
  font-size: 1.6rem;
}

.page-title {
  font-size: 1.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.nav-link {
  cursor: pointer;
}

.nav-link--active {
  color: #4d4dff;
}

.section-title {
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 1.8rem;
  font-size: 2rem;
}

.books-container {
  margin-bottom: 2.4rem;
  border: 2px solid #000;
}

.book {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  font-size: 1.6rem;
}

.book:nth-child(odd) {
  background-color: #e6e6e6;
}

.remove {
  padding: 0.4rem;
  border: 2px solid #000;
  background: #fff;
  font-weight: 700;
  box-shadow: 0.4rem 0.2rem 0.2rem #000;
  z-index: 9;
}

.form-title {
  text-align: center;
  margin-bottom: 6.4rem;
  margin-top: 3.6rem;
  font-size: 1.8rem;
}

.form {
  width: 30rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.form-control {
  width: 100%;
  font-size: 1.6rem;
  border: 2px solid #000;
  padding: 0.4rem;
}

.btn-submit {
  align-self: flex-end;
  background: none;
  border: 2px solid #000;
  font-weight: 700;
  box-shadow: 0.4rem 0.2rem 0.2rem #000;
  padding: 0.4rem;
}

/* contact infor  */

.contact-container {
  width: 60rem;
  margin: 0 auto;
}

.description {
  font-size: 1.8rem;
}

.contact-list {
  padding-left: 4.8rem;
  margin-top: 2.4rem;
}

.contact {
  font-size: 1.6rem;
}

.footer {
  border: 2px solid #000;
  padding: 1.2rem;
  font-size: 1.8rem;
}
